section#data-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

body {
    display: grid;
    height: 100vh;
    margin: 0;
    place-items: center center;
    text-align: center;
  }

p {
    font-size: 18px;
    padding: 50px;
}

input[type="text"] {
    width: 400px;
    height: 40px;
    font-size: 18px;
    text-align: center;
}

#test-word-right {
    color: blue
}

#test-word-wrong {
    color: red;
    text-decoration: line-through;
}